{% extends 'templates/default.twig' %}

{% block title %} Guard | All Users {% endblock %}

{% block script %}
{% if search %}
<script type="text/javascript">
$('#search').modal('show');
</script>
{% endif %}
 {% endblock %}

{% block headContent %}
	 <i style="color:green" class="fa fa-user-circle-o">  All Users </i>

  	<span style="font-size: 20px;" class="pull-right">
  	<button class="btn btn-primary" href="" data-toggle="modal" data-target="#search">
        <i class="fa fa-plus fa-lg"> Add User</i></button>
  	</span>
{% endblock %}

{% block content %}

<form action="{{ path_for('list.user') }}" method="POST">
<div class="row">
	{% for user in users %}
		<div class="col-sm-2 col-md-3">
			<div class="panel box-body">
			<center><img src="{{ base_url() }}/assets/images/{{ user.image }}"
				 height="151" width="151" style="margin-bottom:5px"></center>
			  	<div class="caption">
			    	<a href="" data-toggle="modal" data-target="#{{user.id}}"
                        value="{{user.id}}"title="View User"
			    		class="btn btn-primary btn-block btn btn-info btn-md"
						style="margin-bottom:7px">
			    		<b>{{ user.name }}</b>
			    	</a>
			  	</div>
			</div>
	  	</div>
	{% endfor %}
</div>
	{% if users == null %}
	<hr style="margin-top:10px;margin-bottom:10px;" >
	<p align="center" style="color:red">There are no active users !</p>
	<hr style="margin-top:10px;margin-bottom:10px;" >
	{% endif %}
	<hr style="margin-top:10px;margin-bottom:10px;" >
</form>

{% for user in users %}

<!-- Modal -->
<div id="{{user.id}}" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"
                style="color:red">Close(&times;)</button>
                <h3 class="modal-title text-center" style="font-family:impact">
                    User Information</h3>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-6">
                        <img style="width:200px" class="img-thumbnail"
                        src="{{ base_url() }}/assets/images/{{ user.image }}" alt="">
                    </div>
                    <div class="col-lg-6">
                        <p class="text-left"><b>Name :</b> {{user.name}}<br>
                            <b>Username :</b> {{user.username}}<br>
                            <b>Email :</b> {{user.email}}<br>
                            <b>Gender :</b> {{user.gender}}<br>
                            <b>Addres :</b> {{user.address}}<br>
                            <b>phone :</b> {{user.phone}}<br>
                        <b>Start Registration :</b> {{user.created_at}}</p>
		                <div class="row">
		                    <span class="pull-left">
			                    <button class="btn btn-primary btn-info btn-md"
			                    	<a href="">View Item</a>
			                    </button>
		                    </span>
                            <span class="pull-right">
                                <a href="{{ path_for('get.user.del', {('id'): user.id}) }}">
                                    <button class="btn btn-danger btn-info btn-md"
                                     style="margin-right:20px">Delete </button></a>
		                    </span>
		                </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}
<!-- Modal -->
<div class="modal fade bs-modal-sm" id="search" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-body">
                <!-- <div id="myTabContent" class="tab-content"> -->
                <div class="tab-pane fade active in" id="signin">
                    <fieldset>
                        <!-- Sign In Form -->
                        <!-- Text input-->
                        <form class="form-horizontal"
                         action="{{ path_for('post.user.search') }}" method="POST">
                            <div class="control-group">
                                <div class="controls">
                                    <input name="search" type="text" class="form-control"
                                     placeholder="Name or phone number..." required="">
                                </div>
                            </div>

                            <!-- Button -->
                            <div class="control-group">
                                <label class="control-label" for="search"></label>
                                <div class="controls">
                                    <input type="hidden" name="guard" value="1">
                                    <button href="{{ base_url() }}/guardian/view-user-search"
                                     type="submit" class="btn btn-primary btn-block btn btn-info btn-md">
                                        <i class="fa fa-search"></i> Search
                                    </button>
                                </div>
                            </div>
                        </form>

                        <!-- Button -->
                        <div class="control-group">
                            <label class="control-label" for="signin"></label>
                            <center>
                                <div class="controls">
                                    <button type="button" class="btn btn-default"
                                     data-dismiss="modal">Close</button>
                                </div>
                            </center>
                        </div>
                    </fieldset>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
