{% extends 'templates/default.twig' %}

{% block title %} Reporting App {% endblock %}

{% block headContent %}
        <i style="color:green" class="fa fa-check-square-o">  Daftar Item</i>
{% endblock %}

{% block content %}

<div class="row">
    <div class="col-xs-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <form action="{{ path_for('item.list') }}" method="post">
                    <table id="example2" class="table table-bordered table-striped ">
                        <thead>
                            <tr>
                                <th>Grup</th>
                                <th>Nama</th>
                                <th>Deskripsi</th>
                                <th>Pengulangan</th>
                                <th>Tanggal mulai</th>
                                <th>Status</th>
                                <th>Opsi</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for item in items %}
                            <tr>
                                <td>{{ item.groups }}</td>
                                <td>{{ item.name }}</td>
                                <td>{{ item.description }}</td>
                                <td>{% if item.recurrent == null %}
                                    Tanpa pengulangan
                                    {% else %}
                                    {{ item.recurrent }}
                                    {% endif %}
                                </td>
                                <td>{{ item.start_date }}</td>
                                <td>
                                {% if item.status == 1 %}
                                Telah dilaporkan
                                {% else %}
                                Belum dilaporkan
                                {% endif %}
                                </td><td>
                                    <a href="{{ path_for('item.soft.delete', {('id'): item.id})}}"
                                     title="Remove item" style="color:red" data-toggle="tooltip"
                                     data-placement="top"><i class="fa fa-trash-o"></i></a>

                                    <a href="{{ path_for('item.update', {('id'): item.id})}}"
                                     title="Edit item"  data-toggle="tooltip" data-placement="top">
                                     &nbsp&nbsp&nbsp&nbsp&nbsp<i class="fa fa-edit"></i></a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                    </table>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}
