{% extends 'templates/default.twig' %}

{% block title %} User | Cari Grup {% endblock %}

{% block headContent %}
	 <i style="color:green" class="fa fa-users"> ({{ count }} grup ditemukan)</i>

{% endblock %}

{% block content %}

<div class="row">
	{% for group in groups %}
		<div class="col-sm-2 col-md-3">
			<div class="panel box-body">
			<center><img src="{{ base_url() }}/assets/images/{{ group.image }}"
				 height="151" width="151" style="margin-bottom:5px"></center>
			  	<div class="caption">
                    <div class="col-lg-12">
						<hr>
                        <p class="text-left">
                            <b>Nama  : </b> {{group.name}}<br><br>
                            <b>Deskripsi : </b> {{group.description}}<br>
                        </p>
						<br>
                        <center>
							<a href="{{ path_for('post.group.add', {('id'): group.id}) }}">
								<button class="btn btn-primary btn-info btn-md"
								style="margin-left:10px;"><b>Gabung Grup</b></button></a>
                        </center>
						<hr>
                    </div>
			  	</div>
			</div>
	  	</div>
	{% endfor %}
</div>
	{% if groups == null %}
	<hr style="margin-top:10px;margin-bottom:10px;" >
	<p align="center" style="color:red">Data not found</p>
	<hr style="margin-top:10px;margin-bottom:10px;" >
	{% endif %}
	<hr style="margin-top:10px;margin-bottom:10px;" >
{% endblock %}
