{% extends 'templates/default.twig' %}

{% block title %} User | Group  {% endblock %}
{% block script %}
{% if errors %}
<script type="text/javascript">
$('#create').modal('show');
</script>
{% endif %}
{% endblock %}

{% block headContent %} My Groups
<span class="pull-right">
    <a  style="font-size:20px; color:#02a184" href="" data-toggle="modal" data-target="#create" value="create"
    title="Create new group"><b><u>Create Group  </u></b></a>
</span> {% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="panel box-body">
            <div class="row">
                {% for group in groups %}
                <div class="col-sm-2 col-md-3">
                    <div class="thumb1">
                        <center><img src="{{ base_url() }}/assets/images/{{ group.image }}"
                            height="222" width="232" style="margin-bottom:5px"></center>
                            <div class="caption">
            			    	<a href="" data-toggle="modal" data-target="#{{group.id}}"
                                    value="{{group.id}}"title="View Group Details"
            			    		class="btn btn-primary btn-block btn btn-info btn-md"
            						style="margin-bottom:7px">
            			    		<b>{{ group.name }}</b>
            			    	</a>
            			  	</div>
                    </div>
                </div>
                {% endfor %}
            </div>
            {% if groups == null %}
            <hr style="margin-top:10px;margin-bottom:10px;" >
            <p align="center" style="color:red">You aren't have group</p>
            {% endif %}
            <hr style="margin-top:10px;margin-bottom:10px;" >

        </div>
    </div>
</div>

<div id="create" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-body">
                <div class="panel panel-default">
                    <div class="panel-heading"><h3 class="panel-title">
                    <strong>Create Group</strong></h3></div>
                    <div class="panel-body">
                        <form action="{{ path_for('pic.create.group') }}"
                        method="POST" enctype="multipart/form-data">
                        {% if errors %}
                        <div class="alert alert-danger">
                            <a class="close" data-dismiss="alert" href="#">x</a>
                            Please make sure all required fields are filled out correctly!
                        </div>
                        {% endif %}
                        <div class="row">
                            <div class="col-xs-12 col-sm-4 col-md-7">
                                <div class="form-group {{ errors.name ? 'has-error' : '' }}">
                                    <label for="name">Name</label>
                                    <input type="text" name="name" id="title"
                                    class="form-control" value="{{ old.name }}">
                                    {% if errors.name %}
                                    <span class="help-block">{{errors.name | first}}</span>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-4 col-md-7">
                                <div id="image_preview"><img id="previewing"
                                    src="{{ base_url() }}/assets/images/{{ login.image }}"
                                    class="img-thumbnail" style="width:200px" ></div><br />
                                    <div class="form-group {{ errors.image ? 'has-error' : '' }}">
                                        <label for="image">Image</label>
                                        <input type="file" id="file" name="image" id="image" class="form-control">
                                        {% if errors.image %}
                                        <span class="help-block">{{errors.image | first}}</span>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12 col-sm-6 col-md-12">
                                    <div class="form-group {{ errors.description ? 'has-error' : '' }}">
                                        <label for=description>Description</label>
                                        <textarea name="description" id="description"
                                        class="form-control">{{ old.description }}</textarea>
                                        {% if errors.description %}
                                        <span class="help-block">{{errors.description | first}}</span>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-success">
                                <i class="fa fa-floppy-o" aria-hidden="true"></i>  CREATE</button>
                                <hr style="margin-top:10px;margin-bottom:10px;" >
                            </form>
                        </div>
                    </div>
                </div>
                    <!-- <div class="modal-footer">
                    title=" Remove Data" style="color:red" data-toggle="tooltip"
                    data-placement="top">
                    <button type="button" class="btn btn-danger">
                    Delete This User</button></a>
                </div> -->
        </div>
    </div>
</div>

    {% for group in groups %}

    <!-- Modal -->
    <div id="{{group.id}}" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"
                    style="color:red">Close(&times;)</button>
                    <h3 class="modal-title text-left" style="font-family:impact">
                        Group Information</h3>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-lg-4">
                                <img style="width:200px" class="img-thumbnail"
                                src="{{ base_url() }}/assets/images/{{ group.image }}" alt="">
                            </div>
                            <div class="col-lg-8">
                                <p class="text-left">
                                    <b>Name :<br></b> {{group.name}}<br><br>
                                    <b>Description :<br></b> {{group.description}}</p>
                            </div>
                        </div>
                    </div>
                        <button class="btn btn-primary btn-info btn-md"
                        style="margin-left:10px">
                        <a href="">View Item</a>
                    </button>
                    <button class="btn btn-danger btn-info btn-md"
                    style="margin-left:425px">
                    <a href="{{ path_for('del.pic.group', {('id'): group.group_id}) }}">Delete</a>
                    </button>
                    <hr style="margin-top:10px;margin-bottom:10px;" >
            </div>
        </div>
    </div>
    {% endfor %}
    {% endblock %}
