{% extends 'templates/default.twig' %}

{% block title %} Reporting App {% endblock %}

{% block headContent %}
        <i style="color:green" class="fa fa-list-alt">  Item to Report  </i>
{% endblock %}

{% block content %}

<div class="row">
    <div class="col-xs-12">
        <div class="panel panel-default">
            <div class="panel-body">
                {% for item in items %}
                    <form action="{{ path_for('user.item.status', { ('id'): item.id })}}" method="get">
                {% endfor %}
                    <table id="" class="example2 table table-condensed table-bordered table-striped"
                            width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Description</th>
                                <th class="text-center">Report it</th>
                                <th class="text-center">Delete</th>

                            </tr>
                        </thead>
                        <tbody>
                            {% for item in items %}
                            <tr>
                                <td>{{ item.name }}</td>
                                <td>{{ item.description }}</td>
                                <td class="text-center">
                                    <a href="" data-toggle="modal" data-target="#{{item.id}}"
                                        value="{{item.id}}"title="View Group Details"
                						style="margin-bottom:7px">
                                        <button class="btn btn-info btn-md"
                                        style="margin-right:10px">Report</button>
                			    	</a>
                                    <!-- <input class="custom-control-input" id="checkbox"
                                    type="checkbox"  onclick="this.form.submit();"> -->
                                </td>
                                <td class="text-center">
                                    {% if item.user_id != null %}
                                        <a href="{{ path_for('item.soft.delete', {('id'): item.id})}}"
                                         title="Remove item" data-placement="top">
                                        <button class="btn btn-danger btn-md"
                                         style="margin-right:10px">delete</button></a>
                                    {% endif %}
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-12" style="padding-bottom: 10px;">

        {% if reported == NULL %}

        <a href="{{ base_url() }}/user/group/{{ group_id }}/item?reported=1"
         class="btn-clear discard-answer dno">
            <button class="btn btn-primary" type="button">
                Show Reported Item <span class="badge">{{ count }}</span>
            </button></a>

            {% elseif reported == 1 and pic == group_id %}
            <a href="{{ base_url() }}/pic/group/{{ group_id }}/item" class="btn-clear discard-answer dno">
                <button class="btn btn-primary active" type="button">
                    Hide Reported Item
                </button></a></a>
            {% elseif reported == 1 %}
            <a href="{{ base_url() }}/user/group/{{ group_id }}/item" class="btn-clear discard-answer dno">
                <button class="btn btn-primary active" type="button">
                    Hide Reported Item
                </button></a></a>
            {% endif %}
                <a href="{{ path_for('user.item.all') }}" class="btn-clear discard-answer dno">
                    <button class="btn btn-primary " type="button">
                         <i class="fa fa-plus-circle"></i>   Add Item
                    </button>
                </a>
                <a href="{{ path_for('user.item.create', {('id'): group_id}) }}" class="btn-clear discard-answer dno">
                    <button class="btn btn-primary " type="button">
                         <i class="fa fa-file"></i>   Create Item
                    </button>
                </a>


    </div>
</div>


{% if reported == 1 %}
<div class="" style="font-size:25px">
    <i style="color:green" class="fa fa-check-square-o"> Item Reported</i>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="panel panel-default">
            <div class="panel-body">
                </div>
                    {% for item in itemdone %}
                    <form action="{{ path_for('user.item.reset.status', {('id'): item.id })}}" method="get">
                    {% endfor %}
                        <table id="" class="example2 table table-condensed table-bordered table-striped"
                            width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th class="text-center">Status</th>
                                    <th>Name</th>
                                    <th>Description</th>
                                    <th class="text-center">Reported at</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for item in itemdone %}
                                <tr>
                                    <td class="text-center">
                                        <input type="checkbox" checked onclick="this.form.submit();">
                                    </td>
                                    <td>{{ item.name }}</td>
                                    <td>{{ item.description }}</td>
                                    <td class="text-center">{{ item.reported_at }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </form>
            </div>
        </div>
    </div>
    {% endif %}

    {% for item in items %}

    <!-- Modal -->
    <div id="{{item.id}}" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="panel panel-default">
                    <div class="panel panel-heading"><h3 class="panel-title"><strong>Reporting Item</strong></h3></div>
                    <div class="panel-body">
                        <form  action="{{path_for('item.update.post', {('id'): item.id })}}" method="post">
                            {% if errors %}
                            <div class="alert alert-danger">
                                <a class="close" data-dismiss="alert" href="#">x</a> Please fill out the form
                            </div>
                            {% endif %}
                            <div class="row">
                                <div class="col-xs-12 col-sm-5 col-md-7">
                                    <div class="form-group {{ errors.group_id ? 'has-error' : '' }}">
                                        <label for="group_id">Group</label>
                                        <select class="form-control" name="group_id" >
                                            <option value="">Select Group</option>
                                            {% for data in group %}
                                            <option value="{{ data.id }}"{% if item.group_id == data.id %}
                                            selected="selected"{% endif %}>{{ data.name }}</option>
                                            {% endfor %}
                                        </select>
                                        {% if errors.group_id %}
                                        <span class="help-block">{{ errors.group_id | first }}</span>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-4 col-md-5">
                                    <div class="form-group {{ errors.name ? 'has-error' : '' }}">
                                        <label for="name">Name</label>
                                        <input type="text" name="name" class="form-control"  value="{{ item.name}}">
                                        {% if errors.name %}
                                        <span class="help-block">{{ errors.name | first }}</span>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12 col-sm-6 col-md-7">
                                    <div class="form-group {{ errors.description ? 'has-error' : '' }}">
                                        <label for="description">Description</label>
                                        <input type="text" name="description" class="form-control"
                                        value="{{ item.description}}">
                                        {% if errors.description %}
                                        <span class="help-block">{{ errors.description | first }}</span>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-5">
                                    <div class="form-group {{ errors.recurrent ? 'has-error' : '' }}">
                                        <label for="recurrent">Recurrent</label>
                                        <select class="form-control" name="recurrent" value="">
                                            <option value="">Select Recurrent</option>
                                            <option value="{{ item.recurrent }}" {% if item.recurrent != empty %}
                                            selected="selected" {% endif %}>{{ item.recurrent }}</option>
                                            <option value="daily">Daily</option>
                                            <option value="weekly">Weekly</option>
                                            <option value="monhtly">Monthly</option>
                                            <option value="yearly">Yearly</option>
                                        </select>
                                        {% if errors.recurrent %}
                                        <span class="help-block">{{ errors.recurrent | first }}</span>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12 col-sm-6 col-md-7">
                                    <div class="form-group {{ errors.start_date ? 'has-error' : '' }}">
                                        <label for="start_date">Start date</label>
                                        <input type="text" name="start_date" class="form-control"
                                        value="{{ item.start_date}}">
                                        {% if errors.start_date %}
                                        <span class="help-block">{{ errors.start_date | first }}</span>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-5">
                                    <div class="form-group {{ errors.end_date ? 'has-error' : '' }}">
                                        <label for="end_date">End date</label>
                                        <input type="text" name="end_date" class="form-control"
                                        value="{{ item.end_date}}">
                                        {% if errors.end_date %}
                                        <span class="help-block">{{ errors.end_date | first }}</span>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            <center>
                                {% if item.user_id == null %}
                                <button type="submit" class="btn btn-success">
                                <i class="fa fa-check-square-o" aria-hidden="true"></i> Report it </button>
                                {% else %}
                                <button type="submit" class="btn btn-info">
                                <i class="fa fa-check-square-o" aria-hidden="true"></i> Report it </button>
                                {% endif %}
                            </center>
                                <hr style="margin-top:10px;margin-bottom:10px;">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}

{% endblock %}
