{% extends 'templates/default.twig' %}

{% block title %} Grup | Semua Pengguna {% endblock %}

{% block headContent %}
	<i style="color:green" class="fa fa-check-square-o">Semua anggota grup {{ group }}</i>
	<span style="font-size: 20px;" class="pull-right">
	<button class="btn btn-primary" href="" data-toggle="modal" data-target="#search">
		<i class="fa fa-plus fa-lg"> Tambah Anggota</i></button>
	</span>
{% endblock %}

{% block content %}

<div class="row">
	<div class="col-xs-12">
		<div class="panel panel-default">
			<div class="panel-body">
				{% if login.status == 1 %}
				<form action="{{ path_for('user.group.set') }}" method="POST">
				{% elseif login.status == 2 %}
				<form action="{{ path_for('pic.user.group.set') }}" method="POST">
				{% endif %}
					<table id="example2" class="table table-bordered table-striped table-hover">
						<thead>
							<tr>
								<th>Gambar</th>
								<th>Nama</th>
								<th>Username</th>
								<th>Jenis Kelamin</th>
								<th>Alamat</th>
								<th>Email</th>
								<th>Telepon</th>
								<th>Status</th>
								<th style="width: 40px">Select</th>
							</tr>
						</thead>
						{% for user in members %}
						{% if (user.user_status == 0) %}
						{% set status = 'Anggota' %}
						{% elseif (user.user_status == 1) %}
						{% set  status = 'PIC' %}
						{% endif %}
						<tr>
							<td><img src="{{ base_url() }}/assets/images/{{ user.image }}" width="100" height="100"></td>
							<td>{{ user.name }}</td>
							<td>{{ user.username }}</td>
							<td>{{ user.gender }}</td>
							<td>{{ user.address }}</td>
							<td>{{ user.email }}</td>
							<td>{{ user.phone }}</td>
							<td>{{ status }}</td>
							<td class="text-center"><input type="checkbox" name="user[]" value="{{ user.id }}"></td>
						</tr>
						{% endfor %}
					</table>
					<hr style="margin-top:10px;margin-bottom:10px;" >
				</div>
				<div class="panel-body" align="right">
					<input type="hidden" name="id" value="{{ group_id }}">
					<button type="submit" name="member" value="1" class="btn btn-success"><i class="fa fa-user-circle-o fa-lg" aria-hidden="true"></i> Atur sebagai Anggota</button>
					<button type="submit" name="pic" value="3" class="btn btn-primary"><i class="fa fa-user-plus fa-lg" aria-hidden="true"></i> Atur sebagai PIC</button>
					<button type="submit" name="delete" value="4" class="btn btn-danger"><i class="fa fa-user-times fa-lg" aria-hidden="true"></i> Hapus</button>
					<hr style="margin-top:10px;margin-bottom:10px;" >
				</form>
			</div>
		</div>
	</div>
</div>

<div class="modal fade bs-modal-sm" id="search" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-body">
                <!-- <div id="myTabContent" class="tab-content"> -->
                <div class="tab-pane fade active in" id="signin">
                    <fieldset>
                        <!-- Sign In Form -->
                        <!-- Text input-->
                        <form class="form-horizontal"
                         action="{{ path_for('user.search') }}" method="POST">
                            <div class="control-group">
                                <div class="controls">
                                    <input name="search" type="text" class="form-control"
                                     placeholder="Name or phone number..." required="">
                                </div>
                            </div>

                            <!-- Button -->
                            <div class="control-group">
                                <label class="control-label" for="search"></label>
                                <div class="controls">
									<input type="hidden" name="group" value="{{ group_id }}">
                                    <button
                                     type="submit" class="btn btn-primary btn-block btn btn-info btn-md">
                                        <i class="fa fa-search"></i> Cari
                                    </button>
                                </div>
                            </div>
                        </form>

                        <!-- Button -->
                        <div class="control-group">
                            <label class="control-label" for="signin"></label>
                            <center>
                                <div class="controls">
                                    <button type="button" class="btn btn-default"
                                     data-dismiss="modal">Tutup</button>
                                </div>
                            </center>
                        </div>
                    </fieldset>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
